app.name = pocketmd

entitymanager.packages.to.scan = org.coursera.android.capstone.common.model,org.coursera.android.capstone.server.model

upload.multipart.max_file_size = 128KB
upload.multipart.max_request_size = 128KB

bcrypt.salt.gen.rounds = 12

google.server.api.key = AIzaSyAnrMLYY8eF5yxG_jpZc4ZGqOBknR_ZZkA
google.message.time.to.live.seconds = 86400

alert.prolonged.severe.pain.hours=12
alert.prolonged.pain.hours=16
alert.prolonged.eating.problems.hours=12

alert.prolonged.severe.pain.message = %s is having severe pain for %d hours!
alert.prolonged.pain.message = %s is having moderate-to-severe pain for %d hours!
alert.prolonged.eating.problems.message = %s is having eating/drinking problems for %d hours!